* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
}

#experience{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

#experience-canvas{
    width: 100%;
    height: 100%;
}
